.login-body
{
   background-color: #0E2B2F;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   display: flex;
}

.logo-container
{
   height: 10vh;
   margin-top: 1vh;
   margin-bottom: 1vh;
}
.logo-pic
{
   border-radius: 50%;
   height: 200px;
   width: 200px;
}

.login-container-background-out
{
   margin-top: 0;
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 80vh;              
   background-color: #477F80;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
   align-items: center;
}

.login-container-background-ins
{
   width: 100%;
   height: 80%;
   display: flex;
   align-items: center;
   background-color: #DED7BE;
   padding: 20px;
   box-sizing: border-box;
   text-align: center;
   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.login-container
{
   padding: 50px 33%;
   margin: auto;
   text-align: left;
}
.login-container input[type="email"],
.login-container input[type="password"] 
{
   width: 100%;
   padding: 10px; 
   margin-bottom: 15px; 
   border: 1px solid #fff; 
   border-radius: 4px; 
   box-sizing: border-box; 
}

.login-container input[type="submit"] 
{
   width: 100%; 
   padding: 10px; 
   background-color: #148D8D; 
   color: #fff; 
   border: none; 
   border-radius: 4px; 
   cursor: pointer; 
   font-size: 16px; 
}

.login-container input[type="submit"]:hover 
{
   background-color: #127e7e;     
}

.frgt-passwrd
{
   margin-bottom: 10px;
   color: #333333;
   text-decoration: none;
}
.frgt-passwrd:hover
{
   color: #7B008D;
}

.error_message{
   color: red;
}

#body-block-bottom{
   height:8vh;
}